<!--This is a simple html template for a standardized django login screen.-->

{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %} <!--Built-in password authentication feature.-->
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %} <!--Built-in password permissions feature.-->
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}"> <!--Built-in login feature.-->
{% csrf_token %} <!--Built-in Cross site request token authentication feature.-->
<table>

<tr>
  <td>{{ form.username.label_tag }}</td> <!--Built-in form features for user name.-->
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td><!--Built-in form features for password.-->
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


<p><a href="{% url 'password_reset' %}">Lost password?</a></p> <!--Password reset link.-->

{% endblock %}