<!--This is a simple html template for a standardized django "password reset confirm" view.-->

{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post"> <!--Form whose function it is to POST.-->
        {% csrf_token %}<!--Built-in Cross site request token authentication feature.-->
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}<!--Built-in password reset confirmation feature part 1.-->
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}<!--Built-in password reset confirmation feature part 2.-->
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td> <!--Button.-->
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}