<!DOCTYPE html>
{% extends "base_generic.html" %}

{% load crispy_forms_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Search</title>
</head>
<body>
{% block content %}
    <div class="container">
        <form method="GET">
            {{ filter.form|crispy }}
            <button type="submit" class="btn btn-success">Search</button>
        </form>
        <h1>Item Search</h1>
        <ul>
            {% for item in filter.qs %}
                <li class="{% if item.status == 'Deployed' %}text-danger
                    {% elif item.status == 'Available' %}text-success
                    {% elif item.status == 'Reserved' %}text-warning
                    {% endif %}">
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                </li>
                <h1></h1>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
</body>
</html>
