<!DOCTYPE html>
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrjMgr List</title>
</head>
<body>
{% block content %}
    <h1>Project Manager List</h1>
    {% if prjmgr_list %}
        <ul>
            {% for prjmgr in prjmgr_list %}
                <li>
                    <a href="{{ prjmgr.get_absolute_url }}">{{ prjmgr.first_name }} {{ prjmgr.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no Project Managers in the system.</p>
    {% endif %}
{% endblock %}
</body>
</html>
