<!DOCTYPE html>
{% extends "base_generic.html" %}

{% load crispy_forms_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrjMgr List</title>
</head>
<body>
{% block content %}
    <div class="container">
        <h1>Project Manager List</h1>
        <ul>
            {% for prjmgr in prjmgr_list %}
                <li><a href="{{ prjmgr.get_absolute_url }}">{{ prjmgr }} </a></li>
                <h1></h1>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
</body>
</html>
