<!DOCTYPE html>
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrjMgr Detail</title>
</head>
<body>
{% block content %}
    <h1>Project Manager: {{ prjmgr.first_name }} {{ prjmgr.last_name }}</h1>
    {% if user.is_staff %}
        <ul>
            <form action="{% url 'prjmgr-update' prjmgr.emp_num %}">
                <button type="submit" class="btn btn-success">Edit Project Manager</button>
            </form>
        </ul>
    {% endif %}
    <p><strong>Title:</strong> {{ prjmgr.role }} </p>
    <p><strong>Employee ID:</strong> {{ prjmgr.emp_num }} </p>
    <p><strong>Number of Projects:</strong> {{ prjmgr.projects.count }}</p>
    {% for project in prjmgr.projects.all %}
        <hr>
        <p><a href="{{ project.get_absolute_url }}">{{ project }}</a></p>
        <p><strong>Summary:</strong> {{ project.summary }}</p>
    {% endfor %}
{% endblock %}
</body>
</html>
