<!DOCTYPE html>
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project: {{ project }}</title>
</head>
<body>
{% block content %}
    <h2>Project Number: {{ project.prj_num }}</h2>
    {% if user.is_staff %}
        <ul>
            <form action="{% url 'project-update' project.prj_num %}">
                <button type="submit" class="btn btn-success">Edit Project</button>
            </form>
        </ul>
    {% endif %}
    <p><strong>Project Manager:</strong> <a href="{% url 'prjmgr-detail' project.prj_mgr.pk %}">{{ project.prj_mgr }}</a></p>
    <p><strong>Project Status:</strong> {{ project.prj_status }}</p>
    <p><strong>Project Summary:</strong> {{ project.summary }}</p>
    <p><strong>Date Created:</strong> {{ project.date_created }}</p>
    <p><strong>Estimated Completion Date:</strong> {{ project.completion_date }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Items</h4>

        {% for i in project.items.all %}
            <hr>
            <p><strong>Item Number:</strong><a href="{% url 'item-detail' i.pk %}">Item Number: {{ i.item_num }}</a></p>
            <p><strong>Item Description:</strong> {{ i.description }}</p>
            <p><strong>Inventory Sector:</strong> {{ i.sector }}</p>
            <p class="{% if i.status == 'Available' %}text-success{% elif i.status == 'Deployed' %}text-danger{% else %}text-warning{% endif %}">Status: {{ i.status }}</p>
            <p><strong>Notes:</strong> {{ i.notes }}</p>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>


