{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>ResReq</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container-fluid"  >
    <div class="row justify-content-center">
        <div class="col-sm-2">
            {% block sidebar %}
                <ul class="sidebar-nav" >
                    {% if user.is_authenticated %}
                        <form action="{% url 'index' %}">
                            <button type="submit" class="btn btn-success custom">Home</button>
                        </form>
                        <form action="{% url 'items' %}">
                            <button type="submit" class="btn btn-success custom">All Items</button>
                        </form>
                        <form action="{% url 'item-search' %}">
                            <button type="submit" class="btn btn-success custom">Search Items</button>
                        </form>
                        <form action="{% url 'projects' %}">
                            <button type="submit" class="btn btn-success custom">All Projects</button>
                        </form>
                        <form action="{% url 'project-search' %}">
                            <button type="submit" class="btn btn-success custom">Search Projects</button>
                        </form>
                        <form action="{% url 'prjmgrs' %}">
                            <button type="submit" class="btn btn-success custom">All PrjMgrs</button>
                        </form>
                        <form action="{% url 'prjmgr-search' %}">
                            <button type="submit" class="btn btn-success custom">Search PrjMgrs</button>
                        </form>
                    {% endif %}
                    {% if user.is_staff %}
                        <form action="{% url 'prjmgr-create' %}">
                            <button type="submit" class="btn btn-success custom">New ProjMgr</button>
                        </form>
                        <form action="{% url 'project-create' %}">
                            <button type="submit" class="btn btn-success custom">New Project</button>
                        </form>
                        <form action="{% url 'item-create' %}">
                            <button type="submit" class="btn btn-success custom">New Item</button>
                        </form>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <form action="{% url 'logout' %}?next={% url 'logout' %}">
                            <button type="submit" class="btn btn-danger custom">Log Out</button>
                        </form>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}
            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">   Next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>


