.divider {
    position: absolute;
    right: 0px;
    top: 0px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.btn {
    margin: 5px;
}

.custom {
    width: 135px;
}

.logincustom {
    width: 150px;
}

.topbar {
    width: 500px;
    height: 0px;
}

body, html {
    height: 100%;
    background-image: url(/static/onlylogo.jpg);
}
